.app {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWSGFJhSXeX6fB0oWe5yPaOmKLunykwZPeZA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;  
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}
.main {
    display: flex;
    justify-content: center;
    align-content: center;
}
